.hero {
    position: relative;
}
p {
    letter-spacing: 0.06em;
    line-height: 33px;
    font-size: 20px;
    color: #1C1B1B;
    margin: 0;
}
a {
    color: #A93B3E;
    text-underline-offset: 19%;
}
.black-screen {
    position: absolute;
    height: 99%;
    width: 100%;
    background-color: rgba(28, 27, 27, 0.35);
    z-index: 1;
    top: 0;
    right: 0;
}
.hero h1 {
    z-index: 2;
}
.content1 {
    height: auto;
    width: 100%;
    margin-top: 100px;
    position: relative;
}
.content1 p {
    font-size: 24px;
}
.deta-line-center {
    font-size: 34px;
}
.right-block svg {
    width: 50vw;
    height: auto;
}
.title svg {
    margin-right: 30px;
}
.right-thing {
    position: absolute;
    right: -20%;
    top: -140px;
}
.title {
    display: flex;
    align-items: center;
}
.title h2 {
    font-size: 32px;
    font-weight: normal;
    margin: 3vh 0 3vh 0;
}
.red-tx {
    font-size: 36px;
    color: #A93B3E;
    margin: 0 2px;
    font-weight: 500;
}
.content1over {
    height: auto;
    width: 100%;
    margin-top: 8vh;
}
.requir-container {
    position: relative;
    width: 100%;
}
.requir-box {
    position: absolute;
    bottom: 0;
    right: 35%;
    transform: translateX(50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 280px;
    background-color: #A93B3E;
    font-size: 26px;
    color: #FFFCFC;
    transition: background-color 0.5s ease;
    text-decoration: none;
}
.requir-box:hover {
    background-color: #1C1B1B;
}
.content3 .requir-container {
    margin-top: 3vh;
}
.content {
  padding: 100px 40px;
  overflow-x: hidden;
  flex: 1;
}
@media (max-width:1150px) {
    .requir-box {
    position:static;
    transform: translateX(0);
    height: 45px;
    width: 235px;
    font-size: 18px;
    margin: 35px 0 0 60px;
    }
}
@media (max-width:500px) {
    section {
        overflow-x: visible;
    }
    .content {
        overflow-x: hidden;
    }
    .content {
        padding: 5vh 5%;
    }
    p {
    letter-spacing: 0.02em;
    line-height: 26px;
    font-size: 14px;
    }
    .content1 {
        margin-top: 7vh;
    }
    .title svg {
    margin-right: 15px;
    }
    .right-block svg {
        width: 53vw;
    }
    .right-thing {
        position: absolute;
        top: -10px;
    }
    .title h2 {
        font-size: 24px;
        letter-spacing: 0.06em;
        line-height: 24px;
    }
    .content1 p {
        margin-top: 2vh;
        font-size: 22px;
    }
    .red-tx {
        font-size: 26px;
    }
    .deta-line-center {
        display: block;
        transform: rotate(90deg);
        height: fit-content;
        width: fit-content;
        margin: 5px 0;
        margin-bottom: 0;
        margin-left: 100px;

        font-size: 30px;
    }
    .date-line2 {
        display: block;
    }
    .content1over {
    margin-top: 6vh;
    }
    .requir-box {
    position:static;
    transform: translateX(0);
    height: 45px;
    width: 235px;
    font-size: 18px;
    margin: 35px 0 0 60px;
    }
    .content3 .requir-container {
    margin-top: 1.5vh;
    }
}