.faq {
  max-width: 80%;
  margin: 10vh auto;
}

.faq-item {
  border-top: 1px solid #1c1b1b;
  padding: 10px 0;
}

.faq-item p{
    font-size: 20px;
    letter-spacing: 0.05em;
    line-height: 33px;
}

.faq-item:last-child {
  border-bottom: 1px solid #1c1b1b;
}

.question {
  color: #1c1b1b; /* 赤 */
  font-weight: 500;
  margin-bottom: 10px;
}

.question::first-letter {
  color: #a93b3e; /* A の緑 */
  font-weight: 500;
}

.answer {
  padding-left: 1.5em;
  text-indent: -1.2em;
}

.label {
  color: #a3ce6b;
  font-weight: 500;
}

.answer a {
  color: #a93b3e;
  text-decoration: underline;
  text-underline-offset: 0.19em;
  text-decoration-thickness: 0.065em;
}





.contact {
  background: #fffcfc;
  padding: 80px 20px;
  position: relative;
  overflow: hidden;
}

.contact-inner {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

/* テキスト */
.contact-text {
  width: 55%;
  font-size: 18px;
  line-height: 2;
  color: #1c1b1b;
}

.contact-text a {
  color: #a93b3e;
  text-decoration: underline;
  text-underline-offset: 0.19em;
  text-decoration-thickness: 0.065em;
}




.contact-image {
  width: 30%;
  text-align: right;
}

.contact-image img {
  width: 100%;
  max-width: 350px;
  transform: scaleX(-1)
}

.saikun-wrap {
  position: relative;
  display: inline-block; /* 画像サイズにフィット */
}

/* 画像 */
.contact-image img {
  display: block;
  width: 250px; /* 好きに調整 */
  margin-left: 10px;
}

/* 共通 */
.diamondoo {
  position: absolute;
  pointer-events: none;
}

/* 右上（ちょい外に出す） */
.diamond-top {
  top: -10px;
  right: 0px;
}

/* 左下（ちょい外に出す） */
.diamond-bottom {
  bottom: -30px;
  left: 700px;
}

.diamond-top svg {
  width: 80px;
  height: auto;
}

.diamond-bottom svg {
  width: 120px;
  height: auto;
}