.section2{
    margin-top: 300px;
}

.subtitle{
    margin-top: 300px;
   display: flex;
  align-items: center;
  gap: 10px;
}

.content1 {
    display: flex;
    align-items: baseline;
    gap: 20%; /* 固定の300pxではなく、％にすると柔軟になります */
    width: 100%;
}

.mini {
    font-size: 32px;
    letter-spacing: 0.06em; /* 6%はemに直すと計算しやすいです */
    line-height: 1.1; /* 33px 相当 */
    font-weight: 500;
    white-space: nowrap; /* 改行防止 */
}

.subtitle2 {
    margin-top: 100px; /* 500pxは流石に広すぎるかもしれません */
    display: flex;
    align-items: center;
    gap: 10px;
    flex-shrink: 0; /* 自分が潰されないようにする */
}
    