.hunds-up-saikun{
    width: 430px;
    height: auto;
    margin-top: 350px;
    display: block;
}
.profile-left-right{
    display: flex;
    margin-top:-50px;
}
.profile-right svg {
    width: 100%;
    height: auto;
    max-width: 900px; 
    display: block;
    margin: 0 auto;
}
.info-part {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.info-part path {
    transition: fill 0.3s, stroke 0.3s;
    stroke-width: 0; 
}
.info-part text {
    fill: #FFFCFC; 
    font-size: 36px;
    font-weight: 500;
    text-anchor: middle;
    transition: font-size 0.2s, fill 0.2s;
    pointer-events: none; 
}
.info-part:hover path {
    fill: #FFFCFC; 
    stroke-width: 13;
}
.info-part:hover text {
    fill: #1c1b1b;    
    font-size: 20px; 
    transition: 0.2s; 
}
.honbun{
    font-size: 14px;
    color: #1b1c1c;
    letter-spacing: 2%;    
 line-height: 26px; 
}
.fukidashi{
  margin-left: 150px;
  margin-right: -70px;
  display: block;
}
.sns-sai{
    width: 430px;
    height: auto;
}
.sns{
    display: flex;
    align-items: center;
    gap: -70px;
}
.sns-link .link-text {
    fill: #A93B3E; 
    text-decoration: underline; 
    cursor: pointer;
}
.link-text {
    text-decoration-color: #A93B3E; 
    text-decoration-thickness: 6.5%; 
    text-underline-offset: 19%;   
}
.fukidashi-sp{
    display: none;
}
.text-sp {
    display: none;
}
.text-pc {
    display: block;
}
@media screen and (max-width: 1024px) and (orientation: portrait){
   .hunds-up-saikun{
display: none;
}
.profile-right svg {
        width: 80vw !important;    
        max-width: none !important; 
        height: auto !important;
        margin-left: 45% !important;
        transform: translateX(-50%) !important;
        margin-right: -30px;
    }
    .profile-right {
        width: 100%;
        overflow: hidden; 
        padding: 0 !important; 
        margin-top: 50px;
    }
.honbun{
    font-size: 14px;
    color: #1b1c1c;
    letter-spacing: 2%;    
 line-height: 26px; 
}
.fukidashi{
  display: none;
}
.fukidashi-sp{
    display: block;
    margin-top: 60px;
}
.sns-sai{
    width: 300px;
    height: auto;
    margin-right: -190px;
    margin-top: -50px;
}
.sns{
    display: flex;
    flex-direction: column;
}
.link-text {
    fill: #A93B3E !important;
    text-decoration: underline;
    text-decoration-thickness: 6.5%; 
    text-underline-offset: 19%;   
}
.text-pc {
        display: none; /* PC用を隠す */
    }
.text-sp {
        display: block; /* スマホ用を出す */
}    
}
@media (max-width: 500px) {
    .hunds-up-saikun{
display: none;
}
.profile-right svg {
        width: 115vw !important;    
        max-width: none !important; 
        height: auto !important;
        margin-left: 50% !important;
        transform: translateX(-50%) !important;
    }
    .profile-right {
        width: 100%;
        overflow: hidden; 
        padding: 0 !important; 
        margin-top: 50px;
    }
.honbun{
    font-size: 14px;
    color: #1b1c1c;
    letter-spacing: 2%;    
 line-height: 26px; 
}
.fukidashi{
  display: none;
}
.fukidashi-sp{
    display: block;
    margin-top: 60px;
}
.sns-sai{
    width: 300px;
    height: auto;
    margin-right: -190px;
    margin-top: -50px;
}
.sns{
    display: flex;
    flex-direction: column;
}
.link-text {
    fill: #A93B3E !important;
    text-decoration: underline;
    text-decoration-thickness: 6.5%; 
    text-underline-offset: 19%;   
}
.text-pc {
        display: none; /* PC用を隠す */
    }
.text-sp {
        display: block; /* スマホ用を出す */
}
}