@charset "UTF-8";

body {
    background-color: #FFFCFC;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
#loading {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #FFFCFC;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transition: opacity 0.5s ease, visibility 0.5 ease;
}
#loading.loaded {
    opacity: 0;
    visibility: hidden;
}
.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #A93B3E; /* 早稲田色（えんじ） */
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  to { transform: rotate(360deg); }
}
.top-left,
.top-center,
.top-right {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1.0s ease, transform 1.0s ease;
}
.top-left.is-show,
.top-center.is-show,
.top-right.is-show {
  opacity: 1;
  transform: translateY(-100px);
}
.top-left.is-show { transition-delay: 0.2s; }
.top-center.is-show { transition-delay: 0.5s; }
.top-right.is-show { transition-delay: 0.8s; }
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* ヘッダー周り（開くボタン） */
header {
    top: 0;
    right: 0;
    width: 100%;
    height: 100px;
    background-color: #FFFCFC;
    box-sizing: border-box;
}
.header-logo img {
    height: 100px;
}
.saikun-menu {
    cursor: pointer;
    text-align: center;
    margin-right: 40px;
}
.sai-menu {
    position: fixed;
    top: 15px;
    right: 40px;
    z-index: 999;
}
.saikun-menu img {
    width: 48px;
    height: auto;
}
.menu-texts {
    font-size: 24px;
    text-align: center;
}
.open-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    background-color: #FDEAE9;
    z-index: 999;
    transform: translateY(-100%);
    transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
.open-menu.is-open {
    transform: translateY(0);
}
.menu-close {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 999;
}
.menu-close div {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #333;
}
.menu-close div:nth-child(1) { transform: translateY(-50%) rotate(45deg); }
.menu-close div:nth-child(2) { transform: translateY(-50%) rotate(-45deg); }
.open-menu-container {
    width: 90%;
    margin: 100px auto 50px; 
}
.line {
    width: 100%;
    height: 2px;
    background-color: #333;
    margin: 20px 0;
}
.open-menu-container .flex {
    display: flex;
    justify-content: center;
    position: relative;
}
.menu-texts a {
    text-decoration: none;
    color: #1C1B1B;
    display: block;
}
.menu-texts p {
    font-size: 18px;
    padding: 13px 0;
    margin: 0;
    transition: color 0.3s;
}
.menu-texts a:hover p {
    color: #A93B3E; /* マウスを乗せたときにえんじ色にする */
}
.menu-right {
    display: flex;
    margin-top: 15px;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}
.menu-right a {
    height: 43px;
    width: 43px;
    background-color: #A93B3E;
    display: flex;
    justify-content: center;
    align-items: center;
}
.insta {
    height: 30px;
    width: auto;
}
.twitter {
    height: 25px;
    width: auto;
}
.youtube {
    height: 25px;
    width: auto;
}
.scroll-container {
    height: 300vh;
}
.stick-area {
    position: sticky;
    top: 0vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    z-index: 200;
}
.octagon {
    object-fit: cover;
}
.top-left, 
.top-right {
    width: 20vw;
    height: 20vw;
    max-width: 300px;
    max-height: 300px;
    clip-path: polygon(29.29% 0%, 70.71% 0%, 100% 29.29%, 100% 70.71%, 70.71% 100%, 29.29% 100%, 0% 70.71%, 0% 29.29%);
}
.top-left {
    margin-top: 200px;
    margin-left: -2.5vw;
    margin-right: 2.5vw;
}
.top-right {
    margin-top: 400px;
    margin-left: -1.7vw;
}
.top-center {
    width: 50vw;
    height: 50vw;
    max-width: 700px;
    max-height: 700px;
    transform-origin: center center;
    will-change: transform, clip-path;
    clip-path: polygon(29.29% 0%, 70.71% 0%, 100% 29.29%, 100% 70.71%, 70.71% 100%, 29.29% 100%, 0% 70.71%, 0% 29.29%);
    z-index: 5;
}
.hero-logo {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 624px;
    height: auto;
    z-index: 3;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1.0s ease;
    /* background-color: #FFFCFC80; */
    z-index: 999;
}
.hero-logo.is-visible {
    opacity: 1;
}
.overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    width: 100%;
}
.overview h1 {
    font-size: 32px;
    text-decoration: underline;
    text-decoration-color: #A93B3E;
    text-underline-offset: 7px;
}
.overview-box {
    display: flex;
    justify-content: center;
    width: 100%;
}
.overview-left {
    flex: 3;
    height: 90vh;
    position: relative;
}
.overview-right {
    flex: 2;
    height: 90vh;
    text-align: center;
}
.diamond {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  position: absolute;
}
.overview-top,
.overview-top img {
    width: 22.3vw;
    height: 14.9vw;
}
.overview-center,
.overview-center img {
    width: 29.7vw;
    height: 19.8vw;
}
.overview-bottom,
.overview-bottom img {
    width: 50.4vw;
    height: 36.6vw;
}
.back-diamond {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  position: absolute;
  transform: translateX(-1vw);
}
.green {
    background-color: #A3CE6B;
}
.pink {
    background-color: #BE86B9;
}
.red {
    background-color: #A93B3E;
}